@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
.container {
  max-width: 85%;
  margin: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}
ul {
  list-style-type: none;
}
button {
  border-radius: 5px;
padding: 14px 25px;
  background: #27ae60;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
button i {
  margin-right: 5px;
}
.heading {
  text-align: center;
  width: 60%;
  margin: auto;
}
.heading h1 {
  color: #2d3954;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 35px;
}
.heading p {
  color: #72809d;
}
textarea,
input {
  border: none;
  outline: none;
  background: none;
}
.background {
  padding: 80px 0;
  position: relative;
  background: #f7f9fc;
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}
label {
  color: #2d3954;
  font-size: 14px;
}
.mtop {
  margin-top: 50px;
}
h4 {
  font-weight: 500;
  margin-top: 10px;
}
.shadow {
  box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
}
.padding {
  padding: 80px 0;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.btn2 {
  border-radius: 50px;
  font-size: 11px;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.btn3 {
  background: #ff6922;
  border-radius: 50px;
}
.btn4 {
  background-color: #000;
  color: #fff;
}
.btn5 {
  border-radius: 50px;
  padding: 20px 40px;
  color: #27ae60;
  font-size: 20px;
  font-weight: 400;
  border: 5px solid #27ae601f;
  background: #fff;
}
.back {
  height: 40vh;
  position: relative;
}
.back img {
  height: 40vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}
.back::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background: rgba(17, 40, 72, 0.629);
  z-index: -1;
}
.back .container {
  color: #fff;
  padding: 120px 0;
}
.back h1 {
  font-size: 40px;
  font-weight: 500;
}
.mb {
  margin-bottom: 80px;
}
@media screen and (max-width: 800px) {
  .grid4,
  .grid3,
  .grid5 {
    grid-template-columns: repeat(2, 1fr);
  }
  .heading {
    width: 100%;
  }
  .container {
    max-width: 90%;
  }
  .back::after,
  .back img,
  .back {
    height: 30vh;
  }
}
.flex{
  display: flex;
}
.justify-content{
  justify-content: center;
}
.book-cont{
  width: 100%;
}
.w-25{
  width: 25% !important;
}
.col{
  display: inline-block;
  min-height: 150px;
  width: 33.33%;
  margin-bottom: 8px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.nav-f{
  margin-top: 1em;
  margin-bottom: 0.2em;
}
.nav-f ul{
  width: 100%;
  display: flex;
}
.nav-f ul li{
  width: 33.3%;
}
.il-f{
  display: flex;
  justify-content: center;
  padding: 0.8em;
  color: #9a9a9a;
  cursor: pointer;
}
.active{
  background-color: #003480;
  color: #fff;
}
.cont-dsc{
  width: 45%;
}
.dsc-cont{
  padding: 1em;
  border-top: 1px solid #9a9a9a;
}
.desc-t{
  color: #003480;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 20px;
}
.dsc-cont p{
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0;
}
.desc-table table{
  width: 100%;
  border-collapse: collapse;
}
.desc-table td:nth-child(1){
  width: 35%;
  background-color: #003480;
  color: #fff;
}
table tr{
  border: 1px solid #000 !important;
  margin-bottom: 2px;
}
table td{
  padding: 5px;
  
}
.hr-tr{
  min-height: 10px;
height: 2px;
border: none !important;
}
.locv span:nth-child(1){

}
.locv{
  padding: 2em 0;
}
.locv ul{
  max-height: 200px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
}
.locv-cont ul li{
  margin-left: 5px;
  color: #ffffff !important;
  padding: 10px;
  background: #003480;
  border-radius: 0px;
  font-weight: 500;
  margin-bottom: 8px;
  list-style-type: none;
  max-width: 48%;
}
.td p{
  font-size: 14px;
color: #000;
}
.filter-h{
  width: 25%;
  justify-content: center;
  margin-top: 0.8em;
}
.filter-h h4{
  margin-right: 0.5em;
}
@media (max-width:1300px) {
  .container{
    max-width: 100%;
    width: 95%;
  }
  .whatsapp_float{
    left: 0px !important;
  }
}
@media (max-width:1100px){
  .crd-exp{
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 30px;
  }
  .filter-h{
    padding: 0.5em !important;
  }
  .filter-h h4{
    font-weight: 400 !important;
  }
}
@media (max-width:1050px){
  .filter-h{
    width: 28%;
  }
  .location .overlay::after{
    width: 408px;
    height: 270px;
  }
}
@media (max-width:950px){
  .filter-h{
    width: 35% !important;
  }
 
}
@media (max-width:780px){
  .box{
    width: 50%; 
  }
  .featured img{
    object-fit: cover;
  }
  .crd-exp .box{
    width: 100%;
  }
  header div:nth-child(1){
    height: 51px;
  }
}
@media (max-width:650px){
  .location .overlay::after {
    width: 200px;
    height: 150px;
  }
  .location{
    display: none;
  }
  .crd-exp{
    grid-template-columns: repeat(1, 1fr);
  }

  .filter-h{
    width: 55% !important;
  }
}
@media (max-width:500px){
  .box{
    width: 45%;
  }
}
@media (max-width:400px){
  .filter-h h4{
    display: none;
  }
}